:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}
.seccion img {
    border-radius: 5%;
}
.button-section button{
    height: 22px;
    margin: 10px 10px;
    background: var(--Yellow);
    border: 0;
    border-radius: 10%;
}
.description h3{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.description h2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.description p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: var(--Gray-500);
}
.avatar-section{
    display: flex;
}
.avatar-section img{
    padding-left: 10px;
    padding-right: 20px;
}
.avatar-section h3{
    font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 15px;
}